:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --side-padding: 4rem;
  --font-size: 1.1rem;

  --background-color: rgb(255, 255, 255);
  --foreground-color: rgb(94, 73, 85);
  --primary-color: rgb(153, 104, 136);
  --secondary-color: rgb(201, 157, 163);
  --accent-color: rgb(198, 221, 240);
  --rotion-primary-text: var(--foreground-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(42, 43, 42);
    --foreground-color: rgb(255, 255, 255);
    --primary-color: rgb(201, 157, 163);
    --secondary-color: rgb(153, 104, 136);
    --rotion-primary-text: var(--foreground-color);
  }
}

@media (max-width: 700px) {
  :root {
    --side-padding: 1rem;
    --font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: var(--font-size);
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

body .rotion-text-h1,
body .rotion-text-h2,
body .rotion-text-h3 {
  color: var(--primary-color);
}
body .rotion-richtext-link {
  background-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body .rotion-richtext-link {
    color: var(--accent-color);
    border-color: var(--accent-color); 
    background: none;
  }
  body .rotion-code-area {
    border: 1px solid rgba(100,100,100,0.4);
  }
}
