name: Build

on:
  push:
    branches: [main]
  pull_request:
    paths:
      - '**.zig'
      - '**.zig.zon'
  workflow_dispatch:
  schedule:
    - cron: |
        0 0 * * 1

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Zig
        uses: mlugg/setup-zig@e7d1537c378b83b8049f65dda471d87a2f7b2df2 # v2.2.0
        with:
          version: 0.15.2

      - name: Run tests
        run: zig build test

      - name: Build
        run: zig build --release=fast

      - name: Verify binary
        run: ./zig-out/bin/octopass --version

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Zig
        uses: mlugg/setup-zig@e7d1537c378b83b8049f65dda471d87a2f7b2df2 # v2.2.0
        with:
          version: 0.15.2

      - name: Check formatting
        run: zig fmt --check src/
